





nav
{
    font-size: 30px;
    background-color:#DC7633;
    padding: 1.5rem;
    margin-bottom: 2rem;
    height: 40px;
    margin-left: 1px;
    margin-right: 1px;

}


.active
{
    color: white;
    text-decoration: none;
    padding-left: 40px;
}






label{
     display: block;
     font-size:28px;
     color: #873600;
       /* display: inline; */
}
input{
    border-radius: 8px;
}

body

{
    margin: 0px;
    background-color: #FEF5E7;
    font-family: Segoe UI ;
}



.div1
{
    margin-left: 420px;
    line-height: 50px;
}


.angle-input
{
    width: 60%;
    height: 6%;


}



#is-triangle-btn
{
    margin-top: 40px;
    width: 60%;
    height: 7%;
    background-color:#DC7633 ;
    font-size: 30px;
    color: white;
    border-style: none;
    border-radius: 8px;
}





#output
{
    color: #DC7633;
    font-size:30px;
    margin-left: 30px;
    margin-top: 20px;
}





p
{
    color: #DC7633;
    font-size: 22px;
}



.question
{
    border: 2px solid #DC7633;
    width:50% ;
    margin-left:370px;
    height: 9rem;
    padding-left: 20px;
    border-radius: 8px;
}



#submit-answer-btn
{
    margin-left: 380px;
    margin-top: 20px;
    width: 50%;
    height: 50px;
    background-color: #DC7633;
    border-radius: 8px;
    color: white;
    font-size:29px;
    border-style: none;
}


.quiz-btn{
    display:inline-flex;
}


 



#formula
{
    text-align: center;
    color:#645b55;
    margin-left: 250px;

    margin-right: 290px;
    padding: 0.5rem;
    border: 2px solid #DC7633;

}



#label-input
{
    margin-left: 260px;
    line-height: 50px;
    
}




.side-input
{
    height: 30px;
    width: 62%;
}



#hypotenuse-btn
{
    width: 62.5%;
    height: 40px;
    margin-top: 20px;
    margin-left: 130px;
    background-color:  #DC7633;
    border-style: none;
    color: white;
     font-size:28px;
     border-radius: 8px;

}


#formula1{
    text-align: center;
    color: #DC7633;
    border: 2px solid   #DC7633;
    margin-left: 390px;
    padding: 0.5rem;
    margin-right: 370px;
    height: 32px;
    width:670px;
    font-size: 30px;
    border-radius: 8px;
}


.angle-container
{
    margin-left: 260px;
    line-height: 50px;

}


#base
{
    width: 50%;
    height: 40px;
    margin-left: 160px;
}


#height
{
    width: 50%;
    height: 40px;
   margin-left: 160px;
}




#output
{
    margin-left: 48px;
}


.formula
{
    text-align: center;
    color:   #DC7633;
    border: 2px solid #DC7633;
    margin-left: 390px;
    padding: 0.5rem;
    margin-right: 330px;
    height: 32px;
    font-size: 30px;
    border-radius: 8px;
}




#area-btn
{
    width: 50%;
    height: 40px;
    margin-top: 20px;
    background-color:  #DC7633;
    color: white;
    font-size: 30px;
    border-style: none;
    margin-left: 160px;
    border-radius: 8px;
}


#output-show
{
    color: #DC7633;
    margin-left: 600px;
    margin-top: 20px;
    font-size: 30px;
}


#show-output
{
    color:#DC7633;
    margin-left:550px;
    margin-top: 20px;
    font-size: 32px;
}

#output-h2
{
    color: #DC7633;
    /* margin-left: 340px; */
    margin-left: 35%;
    margin-top: 20px;
    font-size: 30px;
}




h1
{
  color: #873600;
  font-size: 40px;
      text-align: center;
}



.side-input
{
  /* width: 60px; */
  height: 40px;
  margin-left: 130px;
  
}




.text-label
{
  margin-left: 12%;
}





.base-height{
   margin-left: 13%;
}


#active-container1
{
    border: 1px solid #873600;;
    height: 8%;
    width: 60%;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
    font-size: 23px;
}

a{
    text-decoration: none;
    color: #873600;
}















